<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bookloverfinalapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KnigolyubApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.example.bookloverfinalapp.app.ui.general_screens.screen_class_has_deleted.ActivityClassHasDeleted"
            android:exported="false" />
        <activity
            android:name=".app.ui.admin_screens.screen_main.ActivityAdminMain"
            android:exported="false" />
        <activity
            android:name="com.example.bookloverfinalapp.app.ui.general_screens.screen_splash.ActivitySplash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.bookloverfinalapp.app.ui.general_screens.screen_main.ActivityMain"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="@string/title_activity_main_student" />
        <activity
            android:name="com.example.bookloverfinalapp.app.ui.general_screens.screen_login_main.ActivityLoginMain"
            android:configChanges="orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>